<% @title = "メッセージ詳細" %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <% if @message.kind_of?(CustomerMessage) %>
    <div class="links">
      <%= link_to "返信する", new_staff_message_reply_path(@message) %> 
    </div>
  <% end %>
  <table class="attributes">
    <% p = MessagePresenter.new(@message, self) %>
    <tr><th>種類</th><td><%= p.type %></td></tr>
    <tr><th>送信者</th><td><%= p.sender %></td></tr>
    <tr><th>受信者</th><td><%= p.receiver %></td></tr>
    <tr><th>件名</th><td><%= p.subject %></td></tr>
    <tr><th>作成日時</th><td class="date"><%= p.created_at %></td></tr> 
    <tr>
      <th>タグ</th>
      <td> 
        <!-- 🔴 再利用した美しい _tagify.scss の見た目を適用する外枠クラス（tagify） -->
        <div class="tagify" data-controller="tags" data-tags-message-id-value="<%= @message.id %>" style="width: 100%; min-height: 38px; padding: 5px;">
          
          <!-- 登録済みの既存タグを「四角い枠」として一覧表示 -->
          <% @message.tags.each do |tag| %>
            <div class="tagify__tag">
              <div><%= tag.value %></div>
              <!-- 🔴 削除用のバツ印ボタン。クリックすると削除リクエストが走る -->
              <span class="tagify__tag__removeBtn" 
                    data-action="click->tags#remove" 
                    data-tags-label-param="<%= tag.value %>"></span>
            </div>
          <% end %>

          <!-- 新しく文字を入力するためのフォームエリア -->
          <input class="tagify__input" 
                 data-tags-target="input" 
                 data-action="keydown->tags#add"
                 placeholder="タグを入力してEnter..." 
                 style="border: none; outline: none; background: transparent; min-width: 150px;">
        </div>
      </td>
    </tr>
  </table>
 
  <div class="tree"><%= p.tree %></div>
  <div class="body"><%= p.formatted_body %></div> 
</div>
