<%= FormPresenter.new(f, self).notes %>

<div data-controller="address-toggle">
  <fieldset id="customer-fields">
    <legend>基本情報</legend>
    <%= render "customer_fields", f: f %> 
  </fieldset>

  <div class="check-boxes">
    <%= f.check_box :inputs_home_address,
                    data: {
                      address_toggle_target: "homeCheckbox",
                      action: "address-toggle#toggleHomeAddress"
                    } %>
    <%= f.label :inputs_home_address, "自宅住所を入力する" %>
  </div>

  <fieldset id="home-address-fields" data-address-toggle-target="homeFields">  
    <legend>自宅住所</legend>
    <%= render "home_address_fields", f: f %> 
  </fieldset> 

  <div class="check-boxes">
    <%= f.check_box :inputs_work_address,
                    data: {
                      address_toggle_target: "workCheckbox", 
                      action: "address-toggle#toggleWorkAddress" 
                    } %>
    <%= f.label :inputs_work_address, "勤務先を入力する" %>
  </div>

  <fieldset id="work-address-fields" data-address-toggle-target="workFields"> 
    <legend>勤務先</legend>
    <%= render "work_address_fields", f: f %> 
  </fieldset>
</div>